<!doctype html>
<html>
  	<head> 
  		<link href="/style/style.css" rel="stylesheet" type="text/css" />  	
  	</head>
	<body>
			<div class="imgLogo"></div>

			<div class="form">
				<div class="input">Url Api: <input type="text" id="urlOption" /></div>
				<div class="input">Store Code: <input type="text" id="store_codeOption" /></div>
				<div class="input"><button id="submitOption">valider</button></div>
				<div><p id="etatOption"></p></div>
			</div>			

			<script src="/js/option.js"></script>
			<script src="/js/jquery/jquery-2.1.1.min.js"></script>
			<script src="/js/jquery/test_jquery.js"></script-->
	</body>
</html>